In [1]:
import requests # HTTP 호출 패키지
import json # json 형식의 파일 관련 패키지
import pandas as pd # 데이터 분석 및 연산 패키지

In [2]:
# headers 선언
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36',
    'X-Requested-With': 'XMLHttpRequest'
}

In [39]:
p_data = {
    'bld': 'dbms/MDC/STAT/standard/MDCSTAT01701', # 화면번호
    'isuCd': 'KR7035720002',
    'isuCd2': 'KR7005930003',
    'codeNmisuCd_finder_stkisu0_0': '카카오',
    'param1isuCd_finder_stkisu0_0': 'ALL',
    'strtDd': '20220601', 
    'endDd': '20220607',
    'share' : '1',
    'money': '1', # 금액 단위
    'csvxls_isNo': 'false' # (false)
}

In [9]:
url = 'http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd'

In [36]:
res = requests.post(url, headers=headers, data=p_data)

In [37]:
html_json = json.loads(res.content)

In [38]:
html_json = html_json['output']
html_json

[{'TRD_DD': '2022/06/07',
  'TDD_CLSPRC': '81,900',
  'FLUC_TP_CD': '2',
  'CMPPREVDD_PRC': '-3,800',
  'FLUC_RT': '-4.43',
  'TDD_OPNPRC': '84,500',
  'TDD_HGPRC': '84,800',
  'TDD_LWPRC': '81,600',
  'ACC_TRDVOL': '2,373,935',
  'ACC_TRDVAL': '196,169,225,300',
  'MKTCAP': '36,370,818,829,800',
  'LIST_SHRS': '444,088,142'},
 {'TRD_DD': '2022/06/03',
  'TDD_CLSPRC': '85,700',
  'FLUC_TP_CD': '1',
  'CMPPREVDD_PRC': '2,000',
  'FLUC_RT': '2.39',
  'TDD_OPNPRC': '84,800',
  'TDD_HGPRC': '87,400',
  'TDD_LWPRC': '84,700',
  'ACC_TRDVOL': '2,371,620',
  'ACC_TRDVAL': '204,453,657,500',
  'MKTCAP': '38,058,353,769,400',
  'LIST_SHRS': '444,088,142'},
 {'TRD_DD': '2022/06/02',
  'TDD_CLSPRC': '83,700',
  'FLUC_TP_CD': '2',
  'CMPPREVDD_PRC': '-1,300',
  'FLUC_RT': '-1.53',
  'TDD_OPNPRC': '84,000',
  'TDD_HGPRC': '84,200',
  'TDD_LWPRC': '82,900',
  'ACC_TRDVOL': '1,147,185',
  'ACC_TRDVAL': '95,753,857,100',
  'MKTCAP': '37,170,177,485,400',
  'LIST_SHRS': '444,088,142'}]

In [29]:
# json 형태의 결과값을 DataFrame 형식으로 df에 할당
df = pd.json_normalize(html_json['output'])
df.head()

,TRD_DD,TDD_CLSPRC,FLUC_TP_CD,CMPPREVDD_PRC,FLUC_RT,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,ACC_TRDVOL,ACC_TRDVAL,MKTCAP,LIST_SHRS
0,2022/06/07,"81,900",2,"-3,800",-4.43,"84,500","84,800","81,600","2,373,935","196,169,225,300","36,370,818,829,800","444,088,142"
1,2022/06/03,"85,700",1,"2,000",2.39,"84,800","87,400","84,700","2,371,620","204,453,657,500","38,058,353,769,400","444,088,142"
2,2022/06/02,"83,700",2,"-1,300",-1.53,"84,000","84,200","82,900","1,147,185","95,753,857,100","37,170,177,485,400","444,088,142"

In [33]:
name_hs = pd.DataFrame()

if len(html_json) > 0:
    name_h = [] # 빈 list 생성
    for i in range(len(html_json)):
        TRD_DD = html_json[i]['TRD_DD'] # 해당 날짜 추출
        MKTCAP = html_json[i]['MKTCAP'] # 해당 row의 시가총액 추출
        LIST_SHRS = html_json[i]['LIST_SHRS'] # 해당 row의 상장주식수 추출
        # 날짜, 종목 코드, 종목 이름을 name_h에 추가
        name_h.append((TRD_DD, MKTCAP, LIST_SHRS))
    # columns 재설정
    name_h = pd.DataFrame(name_h, columns=['date', '시가총액', '상장주식수'])
    name_hs = name_hs.append(name_h, ignore_index=True)
else:
    pass

In [34]:
name_hs.head()

       date                시가총액        상장주식수
0  20220603  36,370,818,829,800  444,088,142
1  20220603  38,058,353,769,400  444,088,142
2  20220603  37,170,177,485,400  444,088,142